@font-face {
    font-family: ParkinsonAmboy;
    src: url(resources/FONTS/Parkinson-Amboy-Black.otf);
}

@font-face {
    font-family: DINCond;
    src: url(resources/FONTS/DIN\ Condensed\ Bold.ttf);
}