.tone-1, .tone-7 {
  color: darkred;
}

.tone-1-prime {
  color: crimson;
}

.tone-2 {
  color: darkgoldenrod;
}

.tone-3, .tone-8 {
  color: darkgreen;
}

.tone-4 {
  color: darkcyan;
}

.tone-5 {
  color: darkblue;
}

.tone-6, .tone-9 {
  color: darkmagenta;
}